@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, serif;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 60%;
}